@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ADC2A9;
    padding: 50px;
}
.container
{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh -280px);
    min-height: 300px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

header .logo
{
    color: #555555;
    background-color: #c0cfbc;
    border-radius: 100px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    max-width: 50px;
}

header ul
{
    display: flex;
}

header ul li
{
    display: flex;
    margin: 0 10px;
}

header ul li a
{
    text-decoration: none;
    font-weight: 500;
    color: #698474;
    padding: 8px 15px;
    border-radius: 25px;
}

header ul li a:hover,
header ul li a.active
{
    background: #EAEAEA;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content
{
    transform: translate(-100px);
    max-width: 900px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 40px;
    padding-left: 110px;
}

.content h2
{
    font-size: 3em;
    color: #698474;
}

.content p
{
    font-size: 1.2em;
    color:#555555;
}

.content a
{
    display: inline-block;
    padding: 15px 30px;
    background: #EAEAEA;
    color: #555555;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.imgBox
{
    max-width: 400px;
    animation: animate 5s linear infinite;
    margin-right: 230px;
}

@keyframes animate
{
    0%,100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(100px);
    }
}